@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');






@media (min-width: 100vh) and (min-height: 100%){
.fullscreen{
    content:"";
    width:100%;
    height:100vh;
    display:block;
    }
}

@media (min-width: 100vh){
    
    .greatscreen{
        content:"";
        width:100%;
        height:100%;
        display:block;
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
    }
}

@media (min-width: 100vh) and (min-height: 480px){
    @media (max-height: 720px){
.cuarterscreen{
	 content:"";
    width:100%;
    height:100%;
    display:block;
}
}
}

.centrar{
    align-items: center;
  justify-content: center;

}


    
#btn-mas{
    display: flex;
    align-items: center;
  justify-content: center;
}

.perfil{
    border-radius: 50%;
    height: 180px;
    width: 180px;
    border: solid 3px #fff;
    box-shadow: 10px 10px 12px black;
}

/*----------Barras---------------- */ 
@media (min-height: 75px) and (min-width: 75px){
.icon-lng{
    height: 90px;
    width: 75px;
  }
}


.mx-lng{
margin-right:27%;
margin-left:27%;
}


.mover-barra{
    margin-top:70px;
}

.color{
    background-color: grey;
}

.espacio-icon{
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.lng-flex{
    display: flex;
}

.lng-flexbox{
    display: flexbox;
}

.ocupa{
    width:33%
}

/* espacios */
   
    .mx-spc{
        margin-right:12.5vh;
        margin-left:12.5vh;
        margin-bottom:7.5vh;
        }
        

.mx-info{
margin-right:10%;
margin-left:10%;
}


.spc-mtb{
    display: flex;
    margin-top:20px;
    margin-bottom: 50px;
}

.spc-y{
padding-bottom: 6vh;
}
.spc-yt{
    padding-top:6vh;
}
.spc-x{
    margin-left: 7vh;
    }

    .linea{
        line-height: 2em;
    }

    .ctn-redes{
        display: flex;
        align-items: flex-end;
        justify-content: right;
    }
.redes{
    height: 30px;
    width: 30px;
    margin-left: 4vh;
    margin-bottom: 1vh;
}



.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.card{
    width: 250px;
    height: auto;
    position: relative;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 20px;
    transition: all .3s ease-in;
}
.card > *{
    padding: 10px;
}

.card-body > a{
    margin-right: 10px;
}

@media (min-height: 720px){
    .card-body > a{
        margin-right: 1px;
    }
}


@media (min-height: 150px) and (min-width:150px){
.card .card-img-top{
    height: 150px;
    width: 150px;
    background-position: center center;
    background-size: cover;    
}

}
.card .card-title{
    padding: 20px 10px;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 1px 0px 2px #262654;
}

.card:hover{
    background: #8d3961;
    color: #fff;
    box-shadow: 0px 0px 11px 5px #000000;

}

.card .card-text{
    line-height: 20px;
    font-size: 400;
}

.bg-barra{
    background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bg-inicio{
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bg-contacto{
    background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.bg-proyectos{
    background: #16222A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.titulo{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.subtitulo{
    font-family: "Lato", sans-serif;
    font-weight: 150;
}

.texto{
    font-family: "Lato", sans-serif;
    font-weight: 120;
    font-size: 18px;
}

.sin-linea{
    text-decoration: none;
}

.bg-purple{
    background-color: purple;
}

.grilla{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


  
  .elemento{
    height: 150px;
    width: 150px;
    left:25%;
    padding-bottom: 20px;
    margin: 50px 75px 50px 50px;
    transition: 2s;
  }

  @media (max-width: 720px){
    .elemento{
        margin: 30px 0px 0px 0px;
        padding-bottom: 40px;
    }
  }
 
  
  .icon-skill{
    height: 100%;
    width:100%;
  }

  .elemento:hover > img{
    transform: scale(1.2);
  }

  .transpa{
    opacity: 0;
    color: white;
    font-family: "Lato", "sans-serif";
  }

  .titulo-skill{
    text-align: center;
    margin: 15px 0 10px;
    font-weight: bold;
  }

 .certificados > *{
    font-size: 30px;
    margin: 15px 0 15px;
    
 }

 a{
    text-decoration: none;
    color: white;
 }

 .point{
    cursor: pointer;
 }